/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");
*,
html,
body {
}
.font1 {
  font-family: "The Nautigal", cursive !important;
}
.font2 {
  font-family: "Times New Roman", Times, serif !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-1000 {
  font-weight: 1000 !important;
}
.red {
  color: red !important;
}
.blue {
  color: blue !important;
}
